$poroporo: #573c80;
$karerarera: #5e893a;
$kikorangi: #4c7ab0;
$paramu: #4f2123;
$kowhai: #E1AD01;
$pititi: #cc9881;
$waiporoporo: #863666;
$whero: #dc5544;
$karikiuri: #24382c;
$mawhero: #e3768e;
$karaka: #f07b3b;
$kahurangi: #13175e;
$parauri: #bd853c;
$kakariki: #146c49;