// IMPORTS
@import './partials/setup';
@import './partials/variables';
@import './partials/mixins';
@import './partials/globalStyles';
@import './partials/carousel';

// HEADER STYLING

nav {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  position: fixed;
  bottom: 0;
  li {
    margin: 0px 25px;
    padding: 15px;
    &:nth-of-type(2){
      margin-top: -30px;
    }
    &:hover {
      background: url(/assets/scribbles/orangeZigZag.png) center / contain no-repeat;
      &:first-of-type {
        transition: all ease-in-out 0.25;
        background: none;
        color: $whero;
        width: 40px;
      }
      &:nth-of-type(even){
        background: url(/assets/scribbles/orangeZigZag2.png) center / contain no-repeat;
      }
    }
  }
  .pageTop {
    // TODO: STRETCH GOAL: make visible only when header is out of view
    font-size: 5rem;
    margin: 0px 20px;
  }
  // TODO: STRETCH GOAL: random colour scribble as you scroll past / different stripe on hover?
}

// MAIN STYLING

.about h3,
.contact h3 {
  text-align: left;
}

.about {
  justify-content: space-evenly;
  height: 80vh;
  .aboutImage {
    justify-content: space-evenly;
    width: 35%;
  }
  a {
    margin: 20px;
    padding: 20px 25px;
    background: url(/assets/scribbles/mustardBox.png) center / contain no-repeat;
    &:hover {
      background: url(/assets/scribbles/mustardBoxHover.png) center / contain no-repeat;
      // color: $kowhai;
    }
  }
  .aboutInfo {
    width: 50%;
    max-width: 375px;
  }
  .aboutHeading {
    position: relative;
    .squiggle  {
      height: 150px;
      left: -60px;
      top: -60px;
    }
  }
}

.skills {
  h3 {
    background: url('/assets/scribbles/blueZigZag.png') center / contain no-repeat;
  }
  .skillsGrid {
    width: 60vw;
    min-width: 580px;
    max-width: 630px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    align-items: center;
    .skillsBox {
      padding: 20px 0 0 0;
      font-size: 1.4rem;
    }
    .skillsIcon {
      width: 50px;
      margin: 15px auto;
      width: 65px;
      padding: 10px;
      &:hover {
        background: url('/assets/scribbles/orangeScribble.png') center / contain no-repeat;
      }
    }
    p {
      text-align: center;
      height: 30px;
      font-weight: 300;
      padding: 0;
    }
  }
}

.projects {
  h3 {
    background: url('/assets/scribbles/purpleZigZag.png') center / contain no-repeat;
  }
  ul {
    margin: 10px auto;
    padding-right: 15px;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .projectSkill {
      width: 40px;
      margin: 10px;
    }
  }
  .projectLinks {
    padding: 0;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 200;
    text-emphasis: bold;
    line-height: 1rem;
    a {
      padding: 25px;
      &:hover {
        background: url('/assets/scribbles/purplePop.png') center / contain no-repeat;
      }
    }
  }
}

.project {
  position: relative;
  justify-content: space-between;
  margin: 90px 30px;
  &:last-of-type {
    margin: 90px 30px 40px 30px;
  }
  .projectImage,
  .projectInfo {
    width: calc(50% - 25px);
  }
  .credits {
    text-decoration: underline;
    transition: ease-in-out 0.15s all;
    &:hover {
      color: $kowhai;
    }
  }
}

.worksInProgress {
  // TODO: STRETCH GOAL: Put in a carousel that shows project info on hover
  justify-content: space-evenly;
  h3 {
    font-size: 4rem;
    background: url('/assets/scribbles/orangeSquiggleTr.png') center / contain no-repeat;
    padding: 20px;
  }
  p {
    text-align: center;
  }
  .progressProject {
    width: 40%;
    margin: 50px 10px;
    ul {
      padding: unset;
      margin: unset;
    }
    .projectLinks {
      text-align: center;
      margin-top: 25px;
    }
  }
}

.contact {
  margin-bottom: 50px;
  .contactImage {
    width: 45%;
  }
  .contactInfo {
    position: relative;
    .squiggle {
      height: 100px;
      left: -90px;
      top: -20px;
    }
    p {
      line-height: 1rem;
      padding: 15px 0;
    }
    a {
      text-decoration: underline;
      transition: ease-in-out 0.15s all;
      &:hover {
        color: $kowhai;
      }
    }
  }
  .contactLinks {
    margin: 10px 0 0 -10px;
    justify-content: flex-start;
    li {
      margin-right: 10px;
      padding: 8px;
      &:hover {
        background: url('/assets/scribbles/yellowPop.png') center / contain no-repeat;
      }
      img {
        width: 45px;
        padding: 5px;
      }
    }
  }
}

footer {
  text-align: center;
  img {
    height: 140px;
  }
}
