// IMPORTS
@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/globalStyles";
@import "./partials/carousel";

// HEADER STYLING

nav {
  ul {
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    li {
      text-align: center;
      width: 100px;
      padding: 10px 5px;
      &:focus,
      &:hover {
        background: url(/assets/scribbles/orangeZigZag.png) center / contain
        no-repeat;
        &:nth-of-type(even) {
          background: url(/assets/scribbles/orangeZigZag2.png) center / contain
          no-repeat;
        }
      }
    }
    .pageTop {
      width: 20px;
      font-size: 5rem;
      margin: 7px 30% 0 0;
      a {
        padding: 0 10px;
      }
      &:hover {
        transition: all ease-in-out 0.25;
        background: none;
        color: $whero;
      }
    }
  }
  @include pixels960MQ {
    font-size: 2.5rem;
  }
  @include pixels740MQ {
    display: none;
  }
}

// MAIN STYLING

.about {
  justify-content: space-evenly;
  padding-top: 180px;
  .aboutImage {
    justify-content: space-evenly;
    width: 35%;
    @include pixels840MQ {
      width: 50%;
      a {
        margin: unset;
      }
    }
  }
  a {
    margin: 20px;
    padding: 20px 25px;
    background: url(/assets/scribbles/mustardBox.png) center / contain no-repeat;
    &:focus,
    &:hover {
      background: url(/assets/scribbles/mustardBoxHover.png) center / contain
        no-repeat;
    }
  }
  .aboutInfo {
    width: 50%;
    max-width: 375px;
    @include pixels840MQ {
      width: 80%;
      max-width: unset;
    }
  }
  .aboutHeading {
    position: relative;
    .squiggle {
      height: 150px;
      left: -60px;
      top: -60px;
    }
  }
}

.about h3,
.contact h3 {
  text-align: left;
}

.about,
.aboutImage {
  @include pixels840MQ {
    flex-direction: column-reverse;
  }
}

.skills {
  h3 {
    background: url("/assets/scribbles/blueZigZag.png") center / contain
      no-repeat;
  }
  .skillsGrid {
    width: 60vw;
    min-width: 580px;
    max-width: 630px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    align-items: center;
    @include pixels840MQ {
      min-width: unset;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    @include mobileMQ {
      width: 85vw;
    }
    .skillsBox {
      padding: 20px 0 0 0;
      font-size: 1.4rem;
    }
    .skillsIcon {
      width: 50px;
      margin: 15px auto;
      width: 65px;
      padding: 10px;
      &:focus,
      &:hover {
        background: url("/assets/scribbles/orangeScribble.png") center / contain
          no-repeat;
      }
    }
    p {
      text-align: center;
      height: 30px;
      font-weight: 300;
      padding: 0;
    }
  }
}

.projects {
  h3 {
    background: url("/assets/scribbles/purpleZigZag.png") center / contain
      no-repeat;
  }
  ul {
    margin: 10px auto;
    padding-right: 15px;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .projectSkill {
      width: 40px;
      margin: 10px;
    }
  }
  .projectLinks {
    padding: 0;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 200;
    text-emphasis: bold;
    line-height: 1rem;
    a {
      padding: 25px;
      &:focus,
      &:hover {
        background: url("/assets/scribbles/purplePop.png") center / contain
          no-repeat;
      }
    }
  }
  .projectImage,
  .projectInfo {
    width: calc(50% - 25px);
    @include tabletLandscapeMQ {
      width: 80%;
    }
  }
  .projectImage {
    @include pixels840MQ {
      margin-bottom: 20px;
    }
  }
}

.project {
  position: relative;
  justify-content: space-between;
  margin: 90px 30px;
  &:first-of-type {
    margin: 40px 30px 40px 30px;
  }
  &:last-of-type {
    margin: 90px 30px 40px 30px;
  }
  @include tabletLandscapeMQ {
    flex-direction: column;
    &:nth-last-of-type(even) {
      flex-direction: column-reverse;
    }
  }
}

.worksInProgress {
  justify-content: space-evenly;
  h3 {
    font-size: 4rem;
    background: url("/assets/scribbles/orangeSquiggleTr.png") center / contain
      no-repeat;
    padding: 20px;
  }
  p {
    text-align: center;
  }
  .progressProject {
    width: 40%;
    margin: 50px 10px;
    ul {
      padding: unset;
      margin: unset;
    }
    .projectLinks {
      text-align: center;
      margin-top: 25px;
    }
    @include pixels840MQ {
      width: 70%;
    }
  }
  .alwaysLearning {
    h3 {
      background: url("/assets/scribbles/pinkZigZag.png") center / contain
        no-repeat;
        margin-top: 40px;
      padding: 15px;
    }
  }
}

.worksInProgress,
.contact {
  @include pixels840MQ {
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact {
  max-width: 840px;
  .contactImage {
    width: 45%;
    max-width: 430px;
  }
  .contactInfo {
    position: relative;
    margin: 0 auto;
    .squiggle {
      height: 100px;
      left: -90px;
      top: -20px;
    }
    p {
      line-height: 1rem;
      padding: 15px 0;
      @include mobileMQ {
        line-height: 2.5rem;
      }
    }
  }
  .contactLinks {
    margin: 10px 0 0 -10px;
    justify-content: flex-start;
    li {
      margin-right: 10px;
      padding: 8px;
      &:focus,
      &:hover {
        background: url("/assets/scribbles/yellowPop.png") center / contain
          no-repeat;
      }
      img {
        width: 45px;
        padding: 5px;
      }
    }
  }
  @include pixels840MQ {
    padding-top: 40px;
    h3 {
      text-align: center;
    }
    .squiggle {
      right: -80px;
    }
    .contactImage {
      margin-bottom: 70px;
    }
    .contactImage,
    .contactInfo {
      width: 70%;
      text-align: center;
    }
    .contactLinks {
      justify-content: center;
    }
    li {
      margin: unset;
    }
  }
}

footer {
  text-align: center;
  img {
    height: 140px;
  }
}
