// IMPORTS
@import './partials/setup';
@import './partials/variables';
@import './partials/mixins';
@import './partials/globalStyles';
@import './partials/carousel';

// HEADER STYLING

nav {
  z-index: 20;
  position: fixed;
  li {
    margin: 5px 20px;
    padding: 15px;
    &:hover {
      background: url(/assets/scribbles/orangeZigZag.png) center / contain no-repeat;
    }
  }
  // STRETCH GOAL: random colour stripe as you scroll past / different stripe on hover?
}

// MAIN STYLING

.about,
.contactContainer {
  justify-content: space-evenly;
  flex-direction: row;
}

.aboutImage,
.contactImage {
  justify-content: space-evenly;
  width: 35%;
}

.aboutInfo,
.contactInfo {
  width: 50%;
}

.about {
  height: 100vh;
  a {
    margin: 20px;
    padding: 20px 25px;
    background: url(/assets/scribbles/mustardBox.png) center / contain no-repeat;
    &:hover {
      background: url(/assets/scribbles/purpleScribble.png) center / contain no-repeat;
      color: $kowhai;
    }
  }
  .aboutInfo {
    position: relative;
  }
  .squiggle  {
    height: 200px;
    left: -37%;
    top: -18%;
  }
  h3 {
    text-align: left;
  }
}

.skills {
  height: 100vh;
  padding-top: 100px;
  h3 {
    padding: 5px;
    background: url('/assets/scribbles/blueZigZag.png') center / contain no-repeat;
  }
  .skillsGrid {
    width: 60vw;
    min-width: 580px;
    max-width: 630px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    align-items: center;
    .skillsBox {
      padding: 20px 0 0 0;
      font-size: 1.4rem;
    }
    .skillsIcon {
      width: 50px;
      margin: 15px auto;
      width: 65px;
      padding: 10px;
      &:hover {
        background: url('/assets/scribbles/orangeScribble.png') center / contain no-repeat;
      }
    }
    p {
      text-align: center;
      height: 30px;
      font-weight: 300;
      padding: 0;
    }
  }
}

.projects {
  padding-top: 100px;
}

.project {
  justify-content: space-between;
  margin: 90px 0;
  .projectImage,
  .projectInfo {
    width: calc(50% - 25px);
  }
  .credits {
    text-decoration: underline;
    transition: ease-in-out 0.15s all;
    &:hover {
      color: $kowhai;
    }
  }
  ul {
    margin: 10px auto;
    padding-right: 15px;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .projectSkill {
      width: 40px;
      margin: 10px;
    }
  }
  .projectLinks {
    padding: 0;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 200;
    text-emphasis: bold;
    line-height: 1rem;
    a {
      margin: 0 10px;
      padding: 25px;
      &:hover {
        background: url('/assets/scribbles/purplePop.png') center / contain no-repeat;
        font-weight: 300;
      }
    }
  }
}

.contact {
  h3 {
    text-align: left;
  }
  p {
    line-height: 1rem;
    padding: 15px 0;
  }
  a {
    text-decoration: underline;
    transition: ease-in-out 0.15s all;
    &:hover {
      color: $kowhai;
    }
  }
}

.contactLinks {
  margin: 10px 0 0 -10px;
  width: 60%;
  justify-content: flex-start;
  li {
    margin-right: 10px;
    padding: 8px;
    &:hover {
      background: url('/assets/scribbles/yellowPop.png') center / contain no-repeat;
    }
    img {
      width: 45px;
      padding: 5px;
    }
  }
}

footer {
  text-align: center;
  img {
    height: 140px;
  }
}
