a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts:  http://www.fonts.com */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  cursor: default;
}

html body .skipToContent {
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
  background: white;
  color: black;
  font-weight: 300;
}

html body .skipToContent:focus {
  left: 5px;
  top: 5px;
  padding: 10px 20px;
  background-color: #E1AD01;
}

html body .wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 740px) {
  html body .wrapper {
    width: 100%;
  }
}

html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 12px 0;
}

html body a {
  text-decoration: none;
  color: inherit;
}

html body .credits,
html body .alwaysLearning a,
html body .contactInfo a {
  text-decoration: underline;
  -webkit-transition: ease-in-out 0.15s all;
  transition: ease-in-out 0.15s all;
}

html body .credits:focus, html body .credits:hover,
html body .alwaysLearning a:focus,
html body .alwaysLearning a:hover,
html body .contactInfo a:focus,
html body .contactInfo a:hover {
  color: #E1AD01;
}

html body img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
  margin: 0 auto;
}

html body h1,
html body h2,
html body h3,
html body .aboutImage a,
html body nav {
  font-family: 'Crayon Crumble W05 Regular';
}

html body h3 {
  width: 100%;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 200;
  margin-bottom: 20px;
  padding: 5px;
}

html body h5 {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px auto;
}

html body section {
  padding-top: 150px;
  margin: 100px auto;
}

html body .squiggle {
  z-index: -10;
  opacity: 80%;
  position: absolute;
}

.carousel-content {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 10vh;
  margin: 0 auto;
  z-index: 40;
}

@media (max-width: 960px) {
  .carousel-content {
    height: 50vh;
  }
}

@media (max-width: 740px) {
  .carousel-content {
    top: 0;
    height: 100vh;
    max-height: 430px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 435px) {
  .carousel-content {
    max-height: 260px;
  }
}

.fixed {
  position: relative;
  z-index: 50;
}

nav ul {
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  text-align: center;
  width: 100px;
  padding: 10px 5px;
}

nav ul li:focus, nav ul li:hover {
  background: url(/assets/scribbles/orangeZigZag.png) center/contain no-repeat;
}

nav ul li:focus:nth-of-type(even), nav ul li:hover:nth-of-type(even) {
  background: url(/assets/scribbles/orangeZigZag2.png) center/contain no-repeat;
}

nav ul .pageTop {
  width: 20px;
  font-size: 5rem;
  margin: 7px 30% 0 0;
}

nav ul .pageTop a {
  padding: 0 10px;
}

nav ul .pageTop:hover {
  -webkit-transition: all ease-in-out 0.25;
  transition: all ease-in-out 0.25;
  background: none;
  color: #dc5544;
}

@media (max-width: 960px) {
  nav {
    font-size: 2.5rem;
  }
}

@media (max-width: 740px) {
  nav {
    display: none;
  }
}

.about {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 180px;
}

.about .aboutImage {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 35%;
}

@media (max-width: 840px) {
  .about .aboutImage {
    width: 50%;
  }
  .about .aboutImage a {
    margin: unset;
  }
}

.about a {
  margin: 20px;
  padding: 20px 25px;
  background: url(/assets/scribbles/mustardBox.png) center/contain no-repeat;
}

.about a:focus, .about a:hover {
  background: url(/assets/scribbles/mustardBoxHover.png) center/contain no-repeat;
}

.about .aboutInfo {
  width: 50%;
  max-width: 375px;
}

@media (max-width: 840px) {
  .about .aboutInfo {
    width: 80%;
    max-width: unset;
  }
}

.about .aboutHeading {
  position: relative;
}

.about .aboutHeading .squiggle {
  height: 150px;
  left: -60px;
  top: -60px;
}

.about h3,
.contact h3 {
  text-align: left;
}

@media (max-width: 840px) {
  .about,
  .aboutImage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.skills h3 {
  background: url("/assets/scribbles/blueZigZag.png") center/contain no-repeat;
}

.skills .skillsGrid {
  width: 60vw;
  min-width: 580px;
  max-width: 630px;
  margin: 20px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 840px) {
  .skills .skillsGrid {
    min-width: unset;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 435px) {
  .skills .skillsGrid {
    width: 90vw;
  }
}

.skills .skillsGrid .skillsBox {
  padding: 20px 0 0 0;
  font-size: 1.4rem;
}

.skills .skillsGrid .skillsIcon {
  width: 50px;
  margin: 15px auto;
  width: 65px;
  padding: 10px;
}

.skills .skillsGrid .skillsIcon:focus, .skills .skillsGrid .skillsIcon:hover {
  background: url("/assets/scribbles/orangeScribble.png") center/contain no-repeat;
}

.skills .skillsGrid p {
  text-align: center;
  height: 30px;
  font-weight: 300;
  padding: 0;
}

.projects h3 {
  background: url("/assets/scribbles/purpleZigZag.png") center/contain no-repeat;
}

.projects ul {
  margin: 10px auto;
  padding-right: 15px;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects ul .projectSkill {
  width: 40px;
  margin: 10px;
}

.projects .projectLinks {
  padding: 0;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 200;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
  line-height: 1rem;
}

.projects .projectLinks a {
  padding: 25px;
}

.projects .projectLinks a:focus, .projects .projectLinks a:hover {
  background: url("/assets/scribbles/purplePop.png") center/contain no-repeat;
}

.projects .projectImage,
.projects .projectInfo {
  width: calc(50% - 25px);
}

@media (max-width: 1024px) {
  .projects .projectImage,
  .projects .projectInfo {
    width: 80%;
  }
}

@media (max-width: 840px) {
  .projects .projectImage {
    margin-bottom: 20px;
  }
}

.project {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px 30px;
}

.project:first-of-type {
  margin: 40px 30px 40px 30px;
}

.project:last-of-type {
  margin: 90px 30px 40px 30px;
}

@media (max-width: 1024px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project:nth-last-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.worksInProgress {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.worksInProgress h3 {
  font-size: 4rem;
  background: url("/assets/scribbles/orangeSquiggleTr.png") center/contain no-repeat;
  padding: 20px;
}

.worksInProgress p {
  text-align: center;
}

.worksInProgress .progressProject {
  width: 40%;
  margin: 50px 10px;
}

.worksInProgress .progressProject ul {
  padding: unset;
  margin: unset;
}

.worksInProgress .progressProject .projectLinks {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 840px) {
  .worksInProgress .progressProject {
    width: 70%;
  }
}

.worksInProgress .alwaysLearning h3 {
  background: url("/assets/scribbles/pinkZigZag.png") center/contain no-repeat;
  margin-top: 40px;
  padding: 15px;
}

@media (max-width: 840px) {
  .worksInProgress,
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact {
  max-width: 840px;
}

.contact .contactImage {
  width: 45%;
  max-width: 430px;
}

.contact .contactInfo {
  position: relative;
  margin: 0 auto;
}

.contact .contactInfo .squiggle {
  height: 100px;
  left: -90px;
  top: -20px;
}

.contact .contactInfo p {
  line-height: 1rem;
  padding: 15px 0;
}

@media (max-width: 435px) {
  .contact .contactInfo p {
    line-height: 2.5rem;
  }
}

.contact .contactLinks {
  margin: 10px 0 0 -10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .contactLinks li {
  margin-right: 10px;
  padding: 8px;
}

.contact .contactLinks li:focus, .contact .contactLinks li:hover {
  background: url("/assets/scribbles/yellowPop.png") center/contain no-repeat;
}

.contact .contactLinks li img {
  width: 45px;
  padding: 5px;
}

@media (max-width: 435px) {
  .contact .contactLinks li {
    padding: 4px;
    margin: 3px;
  }
}

@media (max-width: 840px) {
  .contact {
    padding-top: 40px;
  }
  .contact h3 {
    text-align: center;
  }
  .contact .squiggle {
    right: -80px;
  }
  .contact .contactImage {
    margin-bottom: 70px;
  }
  .contact .contactImage,
  .contact .contactInfo {
    width: 70%;
    text-align: center;
  }
  .contact .contactLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact li {
    margin: unset;
  }
}

footer {
  text-align: center;
}

footer img {
  height: 140px;
}
